[submodule "queens"]
	path = solutions/ci-hackathon
	url = https://github.com/shahineb/ci-hackathon.git
[submodule "solutions/queens"]
	path = solutions/queens
	url = https://github.com/shahineb/ci-hackathon.git
[submodule "solutions/hackathon-ci-2020"]
	path = solutions/late_birds
	url = https://github.com/dquesadacr/hackathon-ci-2020.git
[submodule "solutions/stargazer"]
	path = solutions/stargazer
	url = https://github.com/dfulu/ci2020-hackathon.git
